@use "@/styles/vars.scss";

.main {
  display: flex;
  align-items: center;
  gap: 16px;

  svg {
    width: 24px;
    height: 24px;
  }

  input {
    background: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    color: white;

    &::placeholder {
      color: white;
      opacity: 0.5;
      font-family: "Outfit", sans-serif;
    }

    @media #{vars.$tablet} {
      font-size: 24px;
    }
  }
}
