@use "@/styles/vars.scss";

.main {
  margin: 100px 0 75px;
  height: 624px;
  display: flex;
  gap: 29px;

  @media #{vars.$medium} {
    flex-direction: column;
    margin: 0;
    padding: 40px 40px 53px;
    height: auto;
  }

  @media #{vars.$narrow} {
    padding: 24px 24px 100px;
  }

  &__image {
    position: relative;
    width: 855px;
    height: 100%;

    @media #{vars.$medium} {
      width: auto;
    }
  }

  &__float {
    width: 445px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    height: 100%;

    @media #{vars.$medium} {
      justify-content: flex-start;
      align-items: flex-end;
    }

    @media #{vars.$narrow} {
      bottom: 0;
      top: auto;
      left: 0;
      transform: translateY(50%);
      align-items: flex-start;
      height: auto;
    }
  }

  &__detail {
    padding: 0 0 67px 65px;

    background: #fff;

    @media #{vars.$narrow} {
      padding: 24px;
      width: 280px;
    }

    h2 {
      max-width: 300px;
      font-size: 56px;
      line-height: 64px;
      margin: 0 0 24px;

      @media #{vars.$narrow} {
        font-size: 24px;
        line-height: 29px; /* 120.833% */
        margin-bottom: 8px;
      }
    }

    h5 {
      color: #7d7d7d;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
    }
  }

  &__artist {
    margin-left: 95px;

    @media #{vars.$narrow} {
      width: 64px;
      height: 64px;
      margin: 0;
    }
  }

  &__content {
    width: 496px;
    position: relative;

    @media #{vars.$medium} {
      width: 572px;
    }

    h1 {
      color: #f3f3f3;
      text-align: right;
      font-size: 200px;
      font-weight: 700;
      position: absolute;
      top: -44px;
      left: 0;

      @media #{vars.$medium} {
        line-height: 150px;
        top: 64px;
      }

      @media #{vars.$narrow} {
        font-size: 100px;
        line-height: 1;
        left: 89px;
      }
    }

    p {
      margin: 122px 0 0;
      position: relative;
      max-width: 350px;
      color: #7d7d7d;
      line-height: 28px;
      font-size: 14px;
      font-weight: 700;

      @media #{vars.$medium} {
        margin-left: 115px;
        max-width: 457px;
      }

      @media #{vars.$narrow} {
        max-width: 327px;
        margin-left: 0;
      }
    }

    a {
      margin: 81px 0 0;
      display: inline-block;
      letter-spacing: 1.929px;
      color: #7d7d7d;
      font-size: 9px;
      font-weight: 700;

      @media #{vars.$medium} {
        margin: 40px 0 0 115px;
      }

      @media #{vars.$narrow} {
        margin: 40px 0 0;
      }
    }
  }

  &__viewbox {
    position: absolute;
    display: flex;
    left: 16px;
    bottom: 16px;
    background: rgba(0, 0, 0, 0.7546);
    align-items: center;
    padding: 14px 16px;
    gap: 14px;
    cursor: pointer;

    @media #{vars.$narrow} {
      top: 16px;
      bottom: auto;
    }

    p {
      color: #fff;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 2.143px;
    }
  }

  &__imgbox {
    position: relative;
    max-height: 560px;

    @media #{vars.$narrow} {
      max-height: 280px;
    }

    img {
      @media #{vars.$narrow} {
        width: 100% !important;
        height: 280px !important;
        object-fit: cover;
      }
    }
  }

  &__dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: none;
    padding: 0;
    margin: auto;
    background: none;
    outline: none;
    opacity: 0;
    transform: scaleY(0);

    &[open] {
      opacity: 1;
      transform: scaleY(1);
    }

    &Content {
      flex-direction: column;
    }

    button {
      display: block;
      margin: 0 0 41px auto;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      background: none;
      border: none;
      letter-spacing: 3px;
      cursor: pointer;
      outline: none;
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.8539);
      transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete,
        background-color 0.7s;
    }

    img {
      @media #{vars.$medium} {
        max-width: 500px;
      }

      @media #{vars.$narrow} {
        max-width: 100%;
      }
    }
  }
}
