@use "@/styles/vars.scss";

.main {
  padding: 26px 0 0;

  @media #{vars.$tablet} {
    padding: 33px 0 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.312px;

    @media #{vars.$tablet} {
      font-size: 32px;
    }
  }

  &__slider {
    margin: 16px 0 0;
    display: flex;
    gap: 16px;
    overflow: scroll;
    padding-right: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media #{vars.$tablet} {
      margin: 24px 0 0;
      padding-right: 25px;
    }

    @media #{vars.$tablet} {
      padding-right: 32px;
    }
  }
}

.card {
  width: 100%;
  max-width: 240px;
  background: white;
  height: 140px;
  flex-shrink: 0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  @media #{vars.$tablet} {
    max-width: 470px;
    height: 230px;
  }

  img {
    object-fit: cover;
  }

  &__title {
    font-size: 15px;
    font-weight: 400;
    margin: 4px 0 0;

    @media #{vars.$tablet} {
      font-size: 24px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
  }

  &__favorite {
    width: 32px;
    height: 32px;
    background: rgba(16, 20, 30, 0.5);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__info {
    display: flex;
    gap: 8px;
    align-items: center;

    svg {
      width: 12px;
      height: 12px;
    }

    p {
      opacity: 0.75;
      font-size: 12px;

      @media #{vars.$tablet} {
        font-size: 15px;
      }
    }
  }

  &__dot {
    width: 3px;
    height: 3px;
    background: vars.$entertainment-white;
    opacity: 0.5;
    border-radius: 50%;
  }

  &__category {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
